*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.body{
    font-family: Monospace;
    background-color: #34495e;
    color: rgb(230,230,250);
}

.header{
    margin-top: 50px;
    margin-bottom: 50px;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2em;
}

table {
    table-layout: fixed;
    width: 400px;
    height: 300px;
  }


.table_player{
    margin-left: 5%;
}

.table_player input{
    color: rgb(2, 2, 2);
    height: 20px;
    width: 100%;
}
.button{
    position: absolute;
    height: 110px;
    width: 350px;
    background: #283B42;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    top: 13%;
    left: 30%;
    font-size: 1em;
}

.button_wait{
    position: absolute;
    height: 50px;
    width: 250px;
    background: #283B42;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    top: 450px;
    left: 5%;
    font-size: 1em;
}

.button_next{
    position: absolute;
    height: 50px;
    width: 250px;
    background: #283B42;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    top: 450px;
    left: 20%;
    font-size: 1em;
}

.button_wins{
    position: absolute;
    height: 30px;
    width: 150px;
    background: #283B42;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    top: 630px;
    left: 5%;
    font-size: 1em;
}

.button_realwins{
    position: absolute;
    height: 30px;
    width: 150px;
    background: #283B42;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    top: 780px;
    left: 5%;
    font-size: 1em;
}
.button_del{
    position: absolute;
    height: 30px;
    width: 150px;
    background: #283B42;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    top: 630px;
    left: 14%;
    font-size: 1em;
}
.button:hover{
    font-size: 1.3em;
    background: #172225;
}
.button_del:hover{
    font-size: 1.3em;
    background: #172225;
}

.button_next:hover{
    font-size: 1.3em;
    background: #172225;
}
.button_wait:hover{
    font-size: 1.3em;
    background: #172225;
}
.button_wins:hover{
    font-size: 1.3em;
    background: #172225;
}
.button_realwins:hover{
    font-size: 1.3em;
    background: #172225;
}




.text_input_player{
    position: absolute;
    height: 100px;
    width: 2550px;
    top: 30%;
    left: 30%;
}
.player_num{
    position: absolute;
    height: 100px;
    width: 2550px;
    top: 28%;
    left: 30%;
}

.wins_text{
    margin-left: 5%;
    margin-top: 5%;
}
.wins_text_goal{
    position: absolute;
    margin-left: 15%;
    margin-top: 2%;
}
.wins{
    margin-left: 5%;
    margin-top: 1%;
    color: rgb(2, 2, 2);
}

.wins_zahl{
    margin-left: 5%;
    margin-top: 2%;
    color: rgb(2, 2, 2);
}

.real_wins_text{
    margin-left: 5%;
    margin-top: 5%;
}

.wins_zahl_real{
    margin-left: 5%;
    margin-top: 1%;
    color: rgb(2, 2, 2);
}

.eingaben{
    position: absolute;
    left: 30%;
    top: 43.5%;
}

